* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

nav {
  /* margin: 50px 70px; */
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav img {
  margin: 3.5% 5%;
  /* border: 2px solid red; */
}

nav button {
  margin: 3%;
  padding: 10px 30px;
  cursor: pointer;
  background-color: white;
  font-size: 20px;
  color: hsl(322, 100%, 66%);
  border: 2px solid hsl(322, 100%, 66%);
  border-radius: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 8%;
  margin: 2% 5%;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  font-family: poppins;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  align-items: center;
}

.main-content span {
  display: flex;
  margin: 32px;
  font-size: 20px;
  font-weight: 400;
  font-family: Open Sans;
  height: 75px;
  width: 45%;
  /* padding: 5px; */
  /* border: 2px solid rgb(220, 47, 171); */
}

/* .main-button{
  margin: 10%;
} */

.main-button button {
  margin: 10px;
  padding: 28px 100px;
  font-weight: 500;
  font-size: 22px;
  font-family: Open Sans;
  cursor: pointer;
  border: 2px solid hsl(322, 100%, 66%);
  border-radius: 60px;
  background-color: hsl(322, 100%, 66%);
  color: white;
}

.sec1 {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec1 img {
  width: 70%;
}

.sec2 {
  display: flex;
  justify-content: center;
  /* border: 5px solid rgb(33, 0, 245); */
  height: 10%;
  padding: 2px;
  margin: 8% 0;
}

.sec2-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  /* border: 2px solid black; */
  width: 100%;
}

.sec2-1-1,
.sec2-1-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 2px solid red; */
}

.sec2-desc {
  font-size: 120px;
  font-weight: 700;
  font-family: Open Sans;
  text-align: center;
}

.sec2-desc p {
  font-size: 25px;
  font-weight: 400;
  font-family: Open Sans;
  color: grey;
}

/* .sec3{
  width: 100vw;
} */

.sec3 img {
  width: 100%;
  margin-bottom: -4px;
  /* filter: contrast(20%); */
}

.sec3 section {
  background-color: rgb(246, 251, 255);
  padding: 5%;
}

.sec3-1 {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  width: 100%;
  padding: 5%;
  gap: 150px;
}

.sec3-1-1 {
  /* padding: 5%; */
  width: 50vw;
}

.sec3-1-1 span {
  font-size: 40px;
  font-weight: 700;
  font-family: Poppins;
}

.sec3-1-1 p {
  font-size: 16px;
  font-family: Open Sans;
}

.sec3-1-2 {
  /* border: 1px solid red; */
  padding: 5%;
}

.sec3-1-2 img {
  width: 100%;
}

.sec3-limage {
  /* border: 1px solid red; */
  background-image: url(./images/bg-section-bottom-desktop-1.svg);
  background-repeat: no-repeat;
  height: 200px;
  background-size: 100% 100%;
}

.sec4 section {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  width: 100%;
  margin-top: 60px;
  padding: 5%;
  gap: 100px;
}

.sec4-img {
  /* border: 5px solid red; */
  padding: 2%;
}

.sec4-img img {
  width: 100%;
}

.sec4-desc {
  /* border: 5px solid red; */
  margin: 2%;
  /* margin-right: 100px; */
  width: 70vw;
}

.sec4-desc span {
  font-size: 40px;
  font-weight: 700;
  font-family: Poppins;
}

.sec4-desc p {
  font-size: 16px;
  font-family: Open Sans;
}

.sec5 {
  /* border: 5px solid red; */
}

.sec5-timg {
  background-image: url("./images/bg-section-top-desktop-2.svg");
  height: 180px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sec5-main {
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(246, 251, 255);
  width: 100%;
  padding: 3% 6%;
  gap: 100px;
}

.sec5-desc {
  width: 60vw;
  /* border: 5px solid orange; */
  padding: 15px;
}

.sec5-desc span {
  font-size: 40px;
  font-weight: 700;
  font-family: Poppins;
}

.sec5-desc p {
  margin-top: 20px;
  font-size: 16 px;
  font-family: Open Sans;
}

.sec5-img {
  padding: 2%;
}

.sec5-img img {
  width: 100%;
  height: 100%;
}

.sec5-bimg {
  background-image: url("./images/bg-section-bottom-desktop-2.svg");
  height: 180px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sec6 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

.sec6-desc {
  font-size: 45px;
  font-weight: 700;
  font-family: Open Sans;
}

.sec6-but button {
  margin: 40px;
  padding: 25px 90px;
  font-weight: 600;
  font-size: 23px;
  font-family: Open Sans;
  cursor: pointer;
  border: 2px solid hsl(322, 100%, 66%);
  border-radius: 60px;
  background-color: hsl(322, 100%, 66%);
  color: white;
}

footer {
  font-family: Open Sans;
}

footer img {
  width: 100%;
  margin-bottom: -5px;
}

.fdesc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80vh;
  /* border: 5px solid red; */
  color: white;
  background-color: rgb(0, 37, 46);
  gap: 120px;
}

.fdesc-l {
  /* border: 2px solid blue; */
  width: 45vw;
  padding: 110px 150px;
  /* align-content: center; */
}

#f-logo {
  filter: brightness(0) invert(1);
  height: 40px;
  width: 250px;
}

.fdesc-l p {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
}

.fdesc-l-icon1 {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  margin-top: 25px;
}

.fdesc-l-icon1 img {
  /* display: flex;
  flex-direction: column; */
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.fdesc-l i {
  margin-right: 20px;
}

.fdesc-r {
  /* border: 2px solid yellow; */
  width: 55vw;
  padding: 100px 100px;
  /* align-content: center; */
}

.fdesc-r-u {
  font-size: 15px;
  font-weight: 400;
  margin-right: 30%;
}

.fdesc-r-u p {
  padding-right: 30px;
  margin-top: 20px;
}

.fdesc-r-u span {
  font-size: 25px;
  font-weight: 700;
}

.fdesc-r-d {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin: 40px 0;
  gap: 30px;
}

.fdesc-r-d input {
  width: 340px;
  border-radius: 7px;
}

.fdesc-r-d button {
  padding: 14px 40px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid hsl(322, 100%, 66%);
  border-radius: 7px;
  background-color: hsl(322, 100%, 66%);
  color: white;
}






@media all and (max-width: 376px) {
  nav {
    padding: 20px 10px;
    /* margin-bottom: 20px; */
  }

  nav img {
    width: 100px;
    height: 18px;
    /* margin: 0; */
  }

  nav button {
    padding: 5px 15px;
    font-size: 12px;
    border: 1px solid hsl(322, 100%, 66%);
  }

  .main {
    margin: 50px 10px;
  }

  .main-content {
    margin-bottom: 30px;
    font-size: 25px;
    padding: 0 20px;
  }

  .main-content span {
    width: 100%;
    font-size: 14.5px;
    font-weight: 500;
    margin: 20px 0;
    line-height: 1.5;
  }

  .main-button button {
    padding: 10px 40px;
    font-size: 13px;
    box-shadow: 1px 1px 10px -3px rgba(0, 0, 0, 0.6);
  }

  .sec1 img {
    width: 100%;
    padding: 35px 35px;
  }

  .sec2-1 {
    flex-direction: column;
    gap: 40px;
  }

  .sec2-1 img {
    height: 24px;
    width: 26px;
  }

  .sec2-1-1,
  .sec2-1-2 {
    margin: 20px 80px;
    /* border: 2px solid red; */
  }

  .sec2-desc {
    font-size: 60px;
  }

  .sec2-desc p {
    font-size: 16px;
  }

  .sec3-1,
  .sec4 section,
  .sec5-main {
    flex-direction: column-reverse;
    text-align: center;
    gap: 50px;
    padding: 55px 10px !important;
  }

  .sec4 section {
    flex-direction: column;
    text-align: center;
    gap: 50px;
    padding: 55px 10px !important;
  }

  .sec3-1-2 img {
    width: 85%;
  }

  .sec3-limage {
    background-image: url("./images/bg-section-bottom-mobile-1.svg");
    background-repeat: no-repeat;
    height: 60px;
    background-size: 100% 100%;
  }

  .sec3-1-1,
  .sec4-desc,
  .sec5-desc {
    padding: 14px;
    width: 100% !important;
  }

  .sec4-img {
    width: 80%;
  }

  .sec3-1-1 span,
  .sec4-desc span,
  .sec5-desc span {
    font-size: 20px;
  }


  .sec5-timg{
    background-image: url(./images/bg-section-top-mobile-2.svg);
    height: 90px;
  }
  .sec5-img {
    width: 85%;
  }

  .sec5-desc{
    margin-bottom: 20px;
  }

  .sec5-bimg{
    background-image: url(./images/bg-section-bottom-mobile-2.svg);
    height: 100px;
  }

  .sec3-1-1 p,
  .sec4-desc p,
  .sec5-desc p {
    font-size: 14.2px;
    line-height: 1.5;
    font-weight: 400;
  }

  .sec6{
    margin: 40px 0 160px 0;
    gap: 25px;
  }

  .sec6-desc {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 0 20px;
  }

  .sec6-but button {
    padding: 12px 45px;
    font-size: 13px;
    margin: 20px 0;
  }

  .fdesc {
    flex-direction: column-reverse;
    height: auto;
    padding: 50px 20px;
    gap: 50px;
  }

  .fdesc-l,
  .fdesc-r {
    width: 100%;
    padding: 0 !important;
  }

  #f-logo {
    width: 200px;
  }

  .fdesc-r-u {
    margin-right: 0;
  }

  .fdesc-r-d {
    flex-direction: column;
    gap: 20px;
  }

  .fdesc-r-d input {
    width: 100%;
    padding: 10px;
  }

  .fdesc-r-d button {
    align-self: flex-end;
    padding: 10px 30px;
  }

  .sec3 img[src*="desktop-1"],
  .sec5 img[src*="desktop-2"] {
    content: url(./images/bg-section-top-mobile-1.svg);
  }
}
